@model Sigma.Models.ShoppingCart

<form method="post">
    <input hidden asp-for="ProductId" />
    <div class="card  container pt-4">

        <div class="card-header bg-primary text-light ml-0  row ">
            <div class="col-12 col-md-6">
                <h1 class="text-white-50">@Model.Product.Author</h1>
                <p class="text-warning">@Model.Product.Author</p>
            </div>
        </div>

        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">

                        <div class="row text-center pl-2" style="color:white; font-weight:bold">
                            <div class="p-1 col-2 bg-primary">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-2 bg-primary">
                                <div>@Model.Product.Price.ToString("c")</div>
                            </div>
                        </div>
                        <div class="row pl-2">
                            <p class="text-secondary">@Model.Product.Description</p>
                        </div>
                        <div class="row pl-2">
                            <div class="col-2 text-primary"><h4>Count</h4></div>
                            <div class="col-2"><input asp-for="Count" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1 text-center">
                        <img src="@Model.Product.ImageUrl" width="100%" class="rounded" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a class="btn btn-success form-control " style="height:50px" asp-action="Index">Back to Home</a>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px;">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</form>
